/* .treemap {
    .node {
      font-size: 250%;
      line-height: 150%;
      overflow: hidden;
      position: absolute;
      text-indent: 1%;
      transition: background 1s;
      transition: color 0.5s;
  
      &:hover {
        background: grey !important;
        color: white;
      }
    }
  } */
  
.treemap {
    position: relative;
    margin: 0 auto;
    display: inline;
    float: left;
    width: 600px;
    height: 600px;
    border: 1px solid #ebebeb;
}

.block-1 {
    width: 50%;
    height: 25%;
    border: 1px solid #ebebeb;
    left: 0;
}
.block-2 {
    width: 50%;
    height: 24%;
    border: 1px solid #ebebeb;
    left: 0;
}
.block-3 {
    width: 50%;
    height: 50%;
    border: 1px solid #ebebeb;
    bottom: 0;
    left: 0;
}
.block-4 {

}
.block-5 {

}
.block-6 {

}
.block-7 {

}
.block-8 {
    width: 25%;
    height: 50%;
    border: 1px solid #ebebeb;
    float: right;
}

body {
    font-family: monospace;
}

.palette {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 3vh;
}

.square {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
}

/* Palette 1 */
.blue-1 {
    background-color: #b1bddc;
}
.blue-2 {
    background-color: #778bc2;
}
.blue-3 {
    background-color: #3e5aa8;
}
.blue-4 {
    background-color: #2b3e75;
}
.blue-5 {
    background-color: #182443;
}
.yellow-1 {
    background-color: #FF8F4A;
}
.yellow-2 {
    background-color: #ffbd4a;
}
.accent-1 {
    background-color: #ffea4a;
}

/* Palette 2 */
.teal-1 {
    background-color: #023236;
}
.teal-2 {
    background-color: #04565c;
}
.teal-3 {
    background-color: #057982;
}
.teal-4 {
    background-color: #079ca7;
}
.teal-5 {
    background-color: #08bfcd;
}
.gold-1 {
    background-color: #e69e11;
}
.gold-2 {
    background-color: #F2BC52;
}
.accent-2 {
    background-color: #f26c52;
}

/* Palette 3 */
.blue-a {
    background-color: #002644;
}
.blue-b {
    background-color: #00467f;
}
.blue-c {
    background-color: #0066ba;
}
.blue-d {
    background-color: #0087f5;
}
.red-a {
    background-color: #EF3D42;
}
.red-b {
    background-color: #f36c70;
}
.yellow-a {
    background-color: #d7a100;
}
.yellow-b {
    background-color: #FFD24E;
}

/* Palette 4 */
.sunset-1 {
    background-color: #541d61;
}
.sunset-2 {
    background-color: #782466;
}
.sunset-3 {
    background-color: #8f3066;
}
.sunset-4 {
    background-color: #A74165;
}
.sunset-5 {
    background-color: #c05166;
}
.sunset-6 {
    background-color: #D46C66;
}
.sunset-7 {
    background-color: #e88666;
}
.sunset-8 {
    background-color: #fcb76f;
}

/* Palette 5 */
.an-1 {
    background-color: #1B1B26;
}
.an-2 {
    background-color: #253847;
}
.an-3 {
    background-color: #245963;
}
.an-4 {
    background-color: #247C77;
}
.an-5 {
    background-color: #3CA080;
}
.an-6 {
    background-color: #6CC27E;
}
.an-7 {
    background-color: #ABE277;
}
.an-8 {
    background-color: #F6FD71;
}
